@import bourbon

.footer_wrapper
  position: relative
  left: 40px      
  bottom: -200px
  &.active
    bottom: 20px 
    @include transition(bottom 0.2s cubic-bezier(0, 0.72, 0.01, 1) 0.8s)
  p
    font-family: 'LunchBox'
    font-size: 16px
    font-weight: 400
    color: #000000
    margin: 0

.social_wrapper
  position: fixed
  float: right
  bottom: 20px
  right: -300px
  &.active
    right: 0
    @include transition(right 0.2s cubic-bezier(0, 0.72, 0.01, 1) 0.9s)
  img
    margin: 0 20px 0 0